In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import importanceMatrix
import os
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import scale
from matplotlib import pyplot as plt

proj_path = os.path.dirname(os.getcwd())
fig_path = proj_path + '/2_docs/LaTeX/Figures'

In [8]:
#Import dermatology data
col_names = np.array([
    'erythema', 'scaling', 'definite borders',
    'itching', 'koebner phenomenon', 'polygonal papules',
    'follicular papules', 'oral mucosal involvement', 'knee and elbow involvement',
    'scalp involvement', 'family history', 'melanin incontinence',
    'eosinophils in the infiltrate', 'PNL infiltrate', 'fibrosis of the papillary dermis',
    'exocytosis', 'acanthosis', 'hyperkeratosis',
    'parakeratosis', 'clubbing of the rete ridges', 'elongation of the rete ridges',
    'thinning of the suprapapillary epidermis', 'spongiform pustule', 'munro microabcess',
    'focal hypergranulosis', 'disappearance of the granular layer',
    'vacuolisation and damage of basal layer',
    'spongiosis', 'saw-tooth appearance of retes', 'follicular horn plug',
    'perifollicular parakeratosis', 'inflammatory monoluclear inflitrate',
    'band-like infiltrate',
    'Age', 'Class'
])
col_names = np.array([lab.capitalize() for lab in col_names])
feature_names = col_names[:-1]
class_names = np.array(['psoriasis', 'seboreic dermatitis', 'lichen planus',
                        'pityriasis rosea', 'cronic dermatitis', 'pityriasis rubra pilaris'])
class_names = np.array([lab.capitalize() for lab in class_names])
class_tags = np.arange(len(class_names)) + 1
data = pd.read_csv(proj_path+'/0_data/dermatology.data.csv', header=None, names=col_names)
skip_rows = data.Age == '?'
data = data[~skip_rows]
data.Age = np.array(data.Age, dtype=int)

In [51]:
#Import wine and iris
from sklearn.datasets import load_iris, load_wine

iris = load_iris()
feature_names = iris.feature_names
class_names = iris.target_names
class_tags = np.array([0, 1, 2])


wines = load_wine()
feature_names = wines.feature_names
class_names = wines.target_names
class_tags = np.array([0, 1, 2])

X = iris.data
y = iris.target
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
rf_clf = RandomForestClassifier(random_state=42, n_estimators=100)
rf_clf.fit(X_train, y_train)


X = iris.data
y = iris.target
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
rf_clf = RandomForestClassifier(random_state=42, n_estimators=100)
rf_clf.fit(X_train, y_train)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [63]:
#Breast tissue data

breast_data = pd.read_excel(proj_path+'/0_data/BreastTissue.xls', sheet_name=1)
breast_data = breast_data.iloc[:,1:]

feature_names = breast_data.columns[1:]
class_names = np.unique(breast_data.Class)
class_tags = np.arange(len(class_names))

string_to_int = dict(zip(class_names, class_tags))
breast_data.loc[:,'Class'] = breast_data.apply(lambda r: string_to_int[r.Class], axis=1)

breast_data

,Class,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P
0,1,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334
1,1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776
2,1,551.879287,0.232478,0.063530,264.804935,11888.391827,44.894903,77.793297,253.785300,656.769449
3,1,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701814
4,1,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503
5,1,389.872978,0.150098,0.097738,118.625814,2475.557078,20.868620,49.757149,107.686164,429.385788
6,1,290.455141,0.144164,0.053058,74.635067,1189.545213,15.938154,35.703331,65.541324,330.267293
7,1,275.677393,0.153938,0.187797,91.527893,1756.234837,19.187974,39.305183,82.658682,331.588302
8,1,470.000000,0.213105,0.225497,184.590057,8185.360837,44.343455,84.482483,164.122511,603.315715
9,1,423.000000,0.219562,0.261799,172.371241,6108.106297,35.435762,79.056351,153.172903,558.274515
10,1,410.000000,0.317824,0.297404,255.815179,10622.547110,41.524303,67.523209,246.742826,508.540356
11,1,500.000000,0.227242,0.050964,219.295502,9819.449614,44.777250,76.868500,207.266640,602.527841
12,1,438.780157,0.212407,0.060737,120.901596,4879.495576,40.359232,80.791779,89.943786,525.420149
13,1,366.942379,0.280125,0.252026,172.745554,7064.815909,40.897237,75.604324,155.322285,471.588195
14,1,485.668805,0.230209,0.134041,253.893699,8135.968359,32.044783,64.855446,245.470531,541.363975
15,1,390.000000,0.358316,0.203854,245.686103,10055.836873,40.929612,70.324783,236.490170,477.548360
16,1,269.495946,0.207520,0.038397,80.411085,1963.605248,24.419584,44.740154,66.838309,329.090647
17,1,300.000000,0.190066,0.166853,97.108130,3039.561303,31.300791,51.353973,82.418192,387.078228
18,1,325.000000,0.224624,0.286932,229.215863,5705.332090,24.890651,35.602715,227.264794,462.703007
19,1,294.474846,0.206647,0.467748,194.871035,5541.256126,28.435504,36.765797,191.804890,445.513299
20,1,500.000000,0.192684,0.194779,144.688578,3055.012963,21.114403,96.563370,107.751103,542.897089
21,3,211.000000,0.053931,0.094248,30.753443,151.984578,4.942034,14.268374,27.243124,217.130704
22,3,196.856714,0.020071,0.090757,28.593126,82.058889,2.869882,7.968783,27.661516,200.749336
23,3,245.000000,0.189019,0.081681,62.902955,1235.983356,19.649051,42.152016,46.690355,292.376238
24,3,352.656447,0.121999,0.090757,68.527846,1066.157846,15.558024,43.691925,52.792817,382.733187
25,3,243.293976,0.039968,0.067021,68.544778,383.928453,5.601134,9.991348,67.816656,263.640761
26,3,259.885145,0.070686,0.006981,58.243807,465.087265,7.985180,17.506838,56.340241,267.517446
27,3,250.000000,0.068068,-0.015359,57.172431,652.901349,11.419863,17.776981,55.791270,278.308615
28,3,200.000000,0.037699,0.117286,42.316675,220.810907,5.218059,10.675764,40.947882,218.034313
29,3,355.000000,0.064054,0.084474,89.558463,1033.854245,11.543903,27.562662,86.576561,372.039957
...,...,...,...,...,...,...,...,...,...,...
76,2,650.000000,0.041015,0.145211,216.811330,427.534068,1.971918,33.765163,214.165980,528.699233
77,2,691.972031,0.026005,0.086568,190.676692,304.270718,1.595742,23.975718,189.163331,594.315626
78,2,1461.750342,0.040841,0.049567,391.846023,5574.002820,14.224982,57.231480,387.643991,1428.839976
79,2,1496.736054,0.103847,0.082380,640.275950,11071.997798,17.292540,108.286919,631.052482,1178.274278
80,2,1111.814068,0.098786,0.071209,386.987094,7659.742134,19.793275,86.025124,377.304504,990.978913
81,2,1270.666717,0.078889,0.065624,555.352318,3612.968333,6.505723,68.781670,551.076473,895.187441
82,2,1647.939811,0.080983,0.086568,576.770376,11852.485063,20.549747,111.435913,565.902910,1402.877737
83,2,1535.850740,0.088488,0.004189,637.349674,10814.050168,16.967217,96.610397,632.165115,1197.762150
84,0,2100.000000,0.061959,-0.045379,390.482507,16640.723619,42.615798,125.900414,380.644703,2073.028685
85,0,1800.000000,0.034208,0.042586,301.060351,4406.154331,14.635452,67.625328,293.366920,1742.375702
86,0,2100.000000,0.121649,0.377689,450.551667,35671.606287,79.173176,436.099640,113.198570,2461.450497
87,0,1666.148786,0.012392,0.058451,72.931050,1402.231665,19.226813,51.854767,58.595763,1746.577504
88,0,1700.000000,0.043982,0.105127,120.653010,12331.103094,102.203029,120.297318,-9.257696,2212.178196
89,0,1949.118155,0.051798,0.016501,170.331495,3212.077055,18.857799,101.455849,136.819329,1941.367383
90,0,1850.000000,0.079149,0.069470,253.621455,13113.203095,51.703840,160.065460,196.730498,1916.985365
91,0,2350.000000,0.081507,0.271573,515.289477,27758.640261,53.869992,289.569061,426.231160,2457.676736
92,0,1800.000000,0.091979,0.205251,362.863321,15021.553888,41.397278,217.833969,290.203640,1893.663712
93,0,1900.000000,0.054454,0.113795,272.618029,7481.593470,27.443502,138.359268,234.898496,1924.517895
94,0,1800.000000,0.069115,0.157080,385.564704,13831.724889,35.873940,157.570007,351.897477,1823.032364
95,0,1850.000000,0.073304,0.225497,325.191542,8644.984237,26.584284,208.739975,249.353486,1908.177239
96,0,1650.000000,0.047647,0.043284,274.426177,5824.895192,21.225727,81.239571,262.125656,1603.070348
97,0,2800.000000,0.083078,0.184307,583.259257,31388.652882,53.815953,298.582977,501.038494,2896.582483
98,0,2329.840138,0.066148,0.353255,377.253368,25369.039925,67.246689,336.075165,171.387227,2686.435346
99,0,2400.000000,0.084125,0.220610,596.041956,37939.255571,63.651988,261.348175,535.689409,2447.772353
100,0,2000.000000,0.067195,0.124267,330.271646,15381.097687,46.571051,169.197983,283.639564,2063.073212
101,0,2000.000000,0.106989,0.105418,520.222649,40087.920984,77.059161,204.090347,478.517223,2088.648870
102,0,2600.000000,0.200538,0.208043,1063.441427,174480.476218,164.071543,418.687286,977.552367,2664.583623
103,0,1600.000000,0.071908,-0.066323,436.943603,12655.342135,28.963331,103.732704,432.129749,1475.371534
104,0,2300.000000,0.045029,0.136834,185.446044,5086.292497,27.427344,178.691742,49.593290,2480.592151
105,0,2600.000000,0.069988,0.048869,745.474369,39845.773698,53.450226,154.122604,729.368395,2545.419744

In [75]:
#Students data
col_names = np.array([
    'Gender', 'Caste', 'Class X Percentage', 'Class XII Percentage', 'Internal Assessment Percentage',
    'End Semester Percentage', 'Whether the student has back or arrear papers', 'Marital Status',
    'Lived in Town or Village', 'Admission Category', 'Family Monthly Income', 'Family Size',
    'Father Qualification', 'Mother Qualification', 'Father Occupation', 'Mother Occupation',
    'Number of Friends', 'Study Hours', 'Student School attended at Class X level', 'Medium',
    'Home to College Travel Time', 'Class Attendance Percentage'
])
col_names = np.array([lab.capitalize() for lab in col_names])
students_data = pd.read_csv(proj_path+'/0_data/Student_performances.csv', header=None, names=col_names)
students_data = students_data.loc[:,col_names!='Marital status']

string_to_int_list = [
    {'M':0,'F':1}, {'G':0,'ST':1,'SC':2,'OBC':3,'MOBC':4}, {'Best':4,'Vg':3,'Good':2,'Pass':1,'Fail':0},
    {'Best':4,'Vg':3,'Good':2,'Pass':1,'Fail':0}, {'Best':4,'Vg':3,'Good':2,'Pass':1,'Fail':0},
    {'Best':4,'Vg':3,'Good':2,'Pass':1,'Fail':0}, {'Y':1,'N':0},
    {'T':1,'V':0}, {'Free':0,'Paid':1},
    {'Vh':4,'High':3,'Am':2,'Medium':1,'Low':0}, {'Large':2,'Average':1,'Small':0},
    {'Il':0,'Um':1,'10':2,'12':3,'Degree':4,'Pg':5}, {'Il':0,'Um':1,'10':2,'12':3,'Degree':4,'Pg':5},
    {'Service':0,'Business':1,'Retired':2,'Farmer':3,'Others':4},
    {'Service':0,'Business':1,'Retired':2,'Housewife':3,'Others':4},
    {'Large':2,'Average':1,'Small':0}, {'Good':2,'Average':1,'Poor':0},
    {'Govt':1,'Private':0}, {'Eng':0,'Asm':1,'Hin':2,'Ben':3},
    {'Large':2,'Average':1,'Small':0}, {'Good':2,'Average':1,'Poor':0}
]
for col_name,string_to_int in zip(students_data.columns, string_to_int_list):
    #print(col_name,string_to_int,
    #     students_data.apply(lambda r: string_to_int[r[col_name]], axis=1))
    students_data.loc[:,col_name] = students_data.apply(lambda r: string_to_int[r[col_name]], axis=1)

{'Best':4,'Vg':3,'Good':2,'Pass':1,'Fail':0}
    
feature_names = students_data.columns[students_data.columns!='End semester percentage']
class_names = np.array(['Fail', 'Pass', 'Good', 'Vg', 'Best'])
class_tags = np.arange(len(class_names))
print(feature_names, class_names, class_tags)

students_data

Index(['Gender', 'Caste', 'Class x percentage', 'Class xii percentage',
       'Internal assessment percentage',
       'Whether the student has back or arrear papers',
       'Lived in town or village', 'Admission category',
       'Family monthly income', 'Family size', 'Father qualification',
       'Mother qualification', 'Father occupation', 'Mother occupation',
       'Number of friends', 'Study hours',
       'Student school attended at class x level', 'Medium',
       'Home to college travel time', 'Class attendance percentage'],
      dtype='object') ['Fail' 'Pass' 'Good' 'Vg' 'Best'] [0 1 2 3 4]

,Gender,Caste,Class x percentage,Class xii percentage,Internal assessment percentage,End semester percentage,Whether the student has back or arrear papers,Lived in town or village,Admission category,Family monthly income,...,Father qualification,Mother qualification,Father occupation,Mother occupation,Number of friends,Study hours,Student school attended at class x level,Medium,Home to college travel time,Class attendance percentage
0,1,0,2,2,3,2,1,0,1,1,...,1,2,3,3,2,0,1,1,0,2
1,0,3,3,3,3,3,0,0,1,0,...,1,0,0,0,0,0,1,1,1,1
2,1,3,2,2,3,2,0,0,1,2,...,3,2,0,3,1,1,1,1,2,2
3,0,4,1,2,3,2,0,0,1,1,...,3,1,1,1,2,0,1,1,1,1
4,0,0,2,2,3,3,0,0,1,2,...,2,3,0,3,2,0,0,1,0,2
5,0,3,3,2,3,3,0,0,1,1,...,2,1,3,3,0,0,0,0,1,1
6,1,3,2,3,2,2,0,0,1,3,...,3,4,0,0,1,0,1,1,0,2
7,1,3,2,2,2,2,0,0,1,1,...,0,1,3,3,0,0,0,1,1,2
8,1,4,3,2,2,3,1,0,1,0,...,3,2,4,3,0,2,1,1,1,2
9,1,3,3,3,2,3,1,0,1,0,...,4,4,4,3,2,1,1,1,1,2
10,0,1,3,3,2,3,0,0,1,4,...,5,5,2,2,2,2,0,0,2,2
11,1,3,3,3,2,3,0,0,1,1,...,4,3,0,3,2,1,1,0,1,2
12,0,3,2,2,2,2,1,0,1,1,...,4,2,0,3,2,0,0,0,1,2
13,0,3,2,2,1,3,0,0,1,1,...,0,0,4,3,2,2,1,1,1,2
14,1,0,3,3,2,3,0,0,1,1,...,4,2,1,3,2,0,1,0,0,2
15,1,1,3,2,2,3,1,0,1,1,...,2,2,4,3,2,1,1,1,1,2
16,1,1,3,3,3,3,0,0,1,1,...,5,3,1,3,2,0,0,0,0,2
17,0,3,2,2,3,2,1,0,1,0,...,3,3,3,3,2,1,1,0,0,2
18,0,1,2,2,3,2,1,0,1,1,...,2,3,3,3,2,1,1,0,0,2
19,0,1,3,3,3,3,1,0,1,1,...,4,3,3,3,2,0,1,0,1,2
20,1,0,3,3,3,3,0,0,1,4,...,4,4,0,3,2,0,1,0,0,2
21,1,0,3,2,3,3,1,0,1,4,...,2,2,0,3,2,0,0,0,0,2
22,1,3,3,3,3,4,0,0,1,2,...,4,5,1,0,2,1,1,0,0,2
23,1,3,3,2,3,3,1,0,1,1,...,2,1,3,3,2,1,1,0,0,2
24,1,0,3,2,3,2,0,0,1,1,...,3,1,1,3,2,0,1,0,0,2
25,1,0,3,3,3,2,0,1,1,1,...,0,0,1,3,2,0,1,0,1,1
26,1,3,2,2,3,3,1,1,1,1,...,2,2,0,3,2,0,1,0,0,1
27,1,3,2,2,3,2,1,0,1,1,...,1,1,4,3,2,1,0,0,0,2
28,0,0,2,2,2,2,1,1,1,3,...,5,4,0,3,2,0,0,0,1,1
29,1,3,3,3,2,2,1,0,0,2,...,3,2,4,3,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,4,2,1,3,1,0,0,0,1,...,1,0,3,0,0,1,1,1,2,1
102,0,0,1,2,3,1,1,0,0,1,...,1,1,3,3,1,1,1,1,1,2
103,0,0,2,1,2,2,1,0,0,1,...,1,1,3,3,1,1,1,1,0,1
104,0,3,2,1,3,1,1,0,0,0,...,1,1,0,0,2,1,1,1,1,0
105,0,0,2,1,3,1,1,0,0,1,...,4,3,0,3,1,1,1,1,0,0
106,0,4,1,3,3,2,0,0,0,1,...,0,0,0,3,2,1,0,1,0,1
107,0,3,2,1,2,1,1,0,0,1,...,0,0,4,0,1,0,1,1,0,0
108,1,3,1,2,2,2,0,0,0,3,...,1,2,0,0,1,1,1,1,0,0
109,0,3,1,2,2,1,1,0,0,1,...,1,1,3,3,1,1,1,1,1,1
110,0,1,2,2,1,1,1,0,0,1,...,3,1,3,3,1,1,1,1,1,0
111,0,1,3,2,3,1,1,0,0,0,...,1,1,3,3,0,0,1,1,1,0
112,0,1,1,2,2,1,1,0,1,1,...,3,1,2,3,1,1,1,1,1,0
113,1,0,2,1,2,1,1,1,0,1,...,1,1,1,3,1,1,0,1,1,2
114,1,0,1,1,1,1,1,1,0,0,...,0,0,4,3,1,0,1,1,1,1
115,1,0,2,2,2,2,0,1,0,1,...,4,3,1,3,1,2,1,1,1,1
116,0,0,2,2,2,2,0,0,0,0,...,4,2,3,3,1,1,1,1,1,0
117,0,0,2,4,3,3,0,0,1,3,...,4,4,4,3,1,1,1,1,2,1
118,0,3,1,3,2,1,1,0,0,1,...,2,1,4,3,1,1,0,1,1,1
119,0,0,3,3,3,3,0,1,1,2,...,3,3,0,3,1,1,1,1,0,1
120,1,0,2,3,3,2,0,0,0,1,...,0,0,3,3,0,0,1,1,0,2
121,0,3,1,1,2,1,1,0,0,1,...,1,1,3,3,1,1,1,1,1,0
122,0,3,2,1,3,2,0,0,0,1,...,0,2,0,3,1,0,1,1,0,0
123,0,3,2,2,2,2,1,1,1,2,...,3,1,1,3,1,2,1,0,0,1
124,0,3,2,2,3,2,1,0,0,1,...,0,0,0,3,1,1,1,1,1,0
125,0,3,1,2,2,1,0,1,0,1,...,2,1,0,3,0,1,1,0,1,2
126,0,0,1,2,2,1,1,1,0,0,...,1,0,0,3,0,1,1,1,0,0
127,0,4,3,3,2,2,0,0,0,3,...,2,1,3,3,1,0,1,1,0,1
128,1,3,2,2,3,2,0,0,0,2,...,0,0,3,3,0,1,1,1,2,2
129,0,1,1,1,2,1,1,0,0,0,...,1,1,0,3,1,1,1,1,2,1
130,0,0,1,2,2,1,1,0,0,1,...,1,1,1,3,1,1,1,1,0,1

In [81]:
#Cars data

mtcars_data = pd.read_csv(proj_path+'/0_data/mtcars.csv')
mtcars_data = mtcars_data.iloc[:,1:]

class_names = np.unique(mtcars_data.gear)
feature_names = mtcars_data.columns[mtcars_data.columns!='gear']
class_tags = class_names

mtcars_data

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [88]:
#Wholesale customers data

sales_data = pd.read_csv(proj_path+'/0_data/Wholesale customers data.csv')

class_names = np.unique(sales_data.Region)
feature_names = sales_data.columns[sales_data.columns!='Region']
class_tags = class_names
#print(np.unique(sales_data.Region, return_counts=True))
sales_data

(array([1, 2, 3]), array([ 77,  47, 316]))

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
5,2,3,9413,8259,5126,666,1795,1451
6,2,3,12126,3199,6975,480,3140,545
7,2,3,7579,4956,9426,1669,3321,2566
8,1,3,5963,3648,6192,425,1716,750
9,2,3,6006,11093,18881,1159,7425,2098
10,2,3,3366,5403,12974,4400,5977,1744
11,2,3,13146,1124,4523,1420,549,497
12,2,3,31714,12319,11757,287,3881,2931
13,2,3,21217,6208,14982,3095,6707,602
14,2,3,24653,9465,12091,294,5058,2168
15,1,3,10253,1114,3821,397,964,412
16,2,3,1020,8816,12121,134,4508,1080
17,1,3,5876,6157,2933,839,370,4478
18,2,3,18601,6327,10099,2205,2767,3181
19,1,3,7780,2495,9464,669,2518,501
20,2,3,17546,4519,4602,1066,2259,2124
21,1,3,5567,871,2010,3383,375,569
22,1,3,31276,1917,4469,9408,2381,4334
23,2,3,26373,36423,22019,5154,4337,16523
24,2,3,22647,9776,13792,2915,4482,5778
25,2,3,16165,4230,7595,201,4003,57
26,1,3,9898,961,2861,3151,242,833
27,1,3,14276,803,3045,485,100,518
28,2,3,4113,20484,25957,1158,8604,5206
29,1,3,43088,2100,2609,1200,1107,823
...,...,...,...,...,...,...,...,...
410,1,3,6633,2096,4563,1389,1860,1892
411,1,3,2126,3289,3281,1535,235,4365
412,1,3,97,3605,12400,98,2970,62
413,1,3,4983,4859,6633,17866,912,2435
414,1,3,5969,1990,3417,5679,1135,290
415,2,3,7842,6046,8552,1691,3540,1874
416,2,3,4389,10940,10908,848,6728,993
417,1,3,5065,5499,11055,364,3485,1063
418,2,3,660,8494,18622,133,6740,776
419,1,3,8861,3783,2223,633,1580,1521
420,1,3,4456,5266,13227,25,6818,1393
421,2,3,17063,4847,9053,1031,3415,1784
422,1,3,26400,1377,4172,830,948,1218
423,2,3,17565,3686,4657,1059,1803,668
424,2,3,16980,2884,12232,874,3213,249
425,1,3,11243,2408,2593,15348,108,1886
426,1,3,13134,9347,14316,3141,5079,1894
427,1,3,31012,16687,5429,15082,439,1163
428,1,3,3047,5970,4910,2198,850,317
429,1,3,8607,1750,3580,47,84,2501
430,1,3,3097,4230,16483,575,241,2080
431,1,3,8533,5506,5160,13486,1377,1498
432,1,3,21117,1162,4754,269,1328,395
433,1,3,1982,3218,1493,1541,356,1449
434,1,3,16731,3922,7994,688,2371,838
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [85]:
#WiFi signals data
wifi_data = pd.read_excel(proj_path+'/0_data/WiFi_signals.xls')

class_names = np.unique(wifi_data.Room)
feature_names = wifi_data.columns[wifi_data.columns!='Room']
class_tags = class_names
#print(class_names, feature_names, np.unique(wifi_data.Room, return_counts=True))

wifi_data

[1 2 3 4] Index(['Signal 1', 'Signal 2', 'Signal 3', 'Signal 4', 'Signal 5', 'Signal 6',
       'Signal 7'],
      dtype='object') (array([1, 2, 3, 4]), array([500, 500, 500, 500]))

,Signal 1,Signal 2,Signal 3,Signal 4,Signal 5,Signal 6,Signal 7,Room
0,-64,-56,-61,-66,-71,-82,-81,1
1,-68,-57,-61,-65,-71,-85,-85,1
2,-63,-60,-60,-67,-76,-85,-84,1
3,-61,-60,-68,-62,-77,-90,-80,1
4,-63,-65,-60,-63,-77,-81,-87,1
5,-64,-55,-63,-66,-76,-88,-83,1
6,-65,-61,-65,-67,-69,-87,-84,1
7,-61,-63,-58,-66,-74,-87,-82,1
8,-65,-60,-59,-63,-76,-86,-82,1
9,-62,-60,-66,-68,-80,-86,-91,1
10,-67,-61,-62,-67,-77,-83,-91,1
11,-65,-59,-61,-67,-72,-86,-81,1
12,-63,-57,-61,-65,-73,-84,-84,1
13,-66,-60,-65,-62,-70,-85,-83,1
14,-61,-59,-65,-63,-74,-89,-87,1
15,-67,-60,-59,-61,-71,-86,-91,1
16,-63,-56,-60,-62,-70,-84,-91,1
17,-60,-54,-59,-65,-73,-83,-84,1
18,-60,-58,-60,-61,-73,-84,-88,1
19,-62,-59,-63,-64,-70,-84,-84,1
20,-63,-59,-64,-66,-72,-84,-90,1
21,-65,-59,-66,-65,-68,-82,-85,1
22,-63,-56,-63,-65,-72,-82,-89,1
23,-67,-60,-66,-65,-75,-86,-87,1
24,-63,-57,-67,-66,-79,-86,-89,1
25,-66,-59,-64,-68,-68,-97,-83,1
26,-65,-61,-64,-68,-77,-86,-89,1
27,-66,-57,-65,-69,-78,-85,-85,1
28,-67,-57,-64,-71,-75,-89,-87,1
29,-65,-62,-62,-65,-77,-84,-85,1
...,...,...,...,...,...,...,...,...
1970,-58,-55,-50,-54,-48,-80,-86,4
1971,-61,-51,-52,-56,-47,-86,-90,4
1972,-60,-52,-51,-55,-48,-86,-90,4
1973,-63,-61,-49,-58,-46,-92,-83,4
1974,-61,-54,-45,-54,-43,-88,-80,4
1975,-57,-53,-45,-54,-52,-84,-82,4
1976,-56,-60,-47,-58,-46,-80,-82,4
1977,-55,-57,-43,-59,-53,-81,-85,4
1978,-55,-54,-43,-60,-51,-84,-88,4
1979,-56,-55,-45,-59,-52,-84,-86,4
1980,-55,-54,-46,-60,-50,-84,-86,4
1981,-56,-54,-47,-59,-52,-84,-91,4
1982,-56,-55,-44,-61,-51,-84,-87,4
1983,-57,-55,-48,-59,-51,-81,-86,4
1984,-59,-54,-49,-58,-52,-83,-93,4
1985,-58,-53,-46,-59,-50,-86,-90,4
1986,-56,-55,-44,-60,-51,-84,-86,4
1987,-56,-53,-43,-61,-58,-80,-85,4
1988,-57,-55,-50,-57,-49,-84,-85,4
1989,-56,-55,-54,-61,-46,-79,-79,4
1990,-57,-54,-49,-61,-43,-79,-85,4
1991,-59,-53,-45,-57,-45,-81,-82,4
1992,-57,-56,-53,-62,-48,-87,-88,4
1993,-63,-55,-50,-63,-50,-91,-85,4
1994,-61,-54,-51,-63,-44,-87,-88,4
1995,-59,-59,-48,-66,-50,-86,-94,4
1996,-59,-56,-50,-62,-47,-87,-90,4
1997,-62,-59,-46,-65,-45,-87,-88,4
1998,-62,-58,-52,-61,-41,-90,-85,4
1999,-59,-50,-45,-60,-45,-88,-87,4

In [90]:
#Import flag data
col_names = np.array([
    'name', 'landmass', 'zone', 'area', 'population', 'language', 'religion', 'bars', 'stripes', 'colours',
    'red', 'green', 'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 'circles', 'crosses', 'saltires',
    'quarters', 'sunstars', 'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 'botright'
])
col_names = np.array([lab.capitalize() for lab in col_names])
feature_names = col_names[col_names!='Religion']
class_names = np.array(['Catholic', 'Other Christian', 'Muslim', 'Buddhist', 'Hindu', 'Ethnic', 'Marxist', 'Others'])
class_tags = np.arange(len(class_names))
flag_data = pd.read_csv(proj_path+'/0_data/flag.data.csv', header=None, names=col_names)

print(class_names, feature_names, np.unique(flag_data.Religion, return_counts=True))

flag_data

['Catholic' 'Other Christian' 'Muslim' 'Buddhist' 'Hindu' 'Ethnic'
 'Marxist' 'Others'] ['Name' 'Landmass' 'Zone' 'Area' 'Population' 'Language' 'Bars' 'Stripes'
 'Colours' 'Red' 'Green' 'Blue' 'Gold' 'White' 'Black' 'Orange' 'Mainhue'
 'Circles' 'Crosses' 'Saltires' 'Quarters' 'Sunstars' 'Crescent'
 'Triangle' 'Icon' 'Animate' 'Text' 'Topleft' 'Botright'] (array([0, 1, 2, 3, 4, 5, 6, 7]), array([40, 60, 36,  8,  4, 27, 15,  4]))

,Name,Landmass,Zone,Area,Population,Language,Religion,Bars,Stripes,Colours,...,Saltires,Quarters,Sunstars,Crescent,Triangle,Icon,Animate,Text,Topleft,Botright
0,Afghanistan,5,1,648,16,10,2,0,3,5,...,0,0,1,0,0,1,0,0,black,green
1,Albania,3,1,29,3,6,6,0,0,3,...,0,0,1,0,0,0,1,0,red,red
2,Algeria,4,1,2388,20,8,2,2,0,3,...,0,0,1,1,0,0,0,0,green,white
3,American-Samoa,6,3,0,0,1,1,0,0,5,...,0,0,0,0,1,1,1,0,blue,red
4,Andorra,3,1,0,0,6,0,3,0,3,...,0,0,0,0,0,0,0,0,blue,red
5,Angola,4,2,1247,7,10,5,0,2,3,...,0,0,1,0,0,1,0,0,red,black
6,Anguilla,1,4,0,0,1,1,0,1,3,...,0,0,0,0,0,0,1,0,white,blue
7,Antigua-Barbuda,1,4,0,0,1,1,0,1,5,...,0,0,1,0,1,0,0,0,black,red
8,Argentina,2,3,2777,28,2,0,0,3,2,...,0,0,0,0,0,0,0,0,blue,blue
9,Argentine,2,3,2777,28,2,0,0,3,3,...,0,0,1,0,0,0,0,0,blue,blue
10,Australia,6,2,7690,15,1,1,0,0,3,...,1,1,6,0,0,0,0,0,white,blue
11,Austria,3,1,84,8,4,0,0,3,2,...,0,0,0,0,0,0,0,0,red,red
12,Bahamas,1,4,19,0,1,1,0,3,3,...,0,0,0,0,1,0,0,0,blue,blue
13,Bahrain,5,1,1,0,8,2,0,0,2,...,0,0,0,0,0,0,0,0,white,red
14,Bangladesh,5,1,143,90,6,2,0,0,2,...,0,0,0,0,0,0,0,0,green,green
15,Barbados,1,4,0,0,1,1,3,0,3,...,0,0,0,0,0,1,0,0,blue,blue
16,Belgium,3,1,31,10,6,0,3,0,3,...,0,0,0,0,0,0,0,0,black,red
17,Belize,1,4,23,0,1,1,0,2,8,...,0,0,0,0,0,1,1,1,red,red
18,Benin,4,1,113,3,3,5,0,0,2,...,0,0,1,0,0,0,0,0,green,green
19,Bermuda,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,0,white,red
20,Bhutan,5,1,47,1,10,3,0,0,4,...,0,0,0,0,0,0,1,0,orange,red
21,Bolivia,2,3,1099,6,2,0,0,3,3,...,0,0,0,0,0,0,0,0,red,green
22,Botswana,4,2,600,1,10,5,0,5,3,...,0,0,0,0,0,0,0,0,blue,blue
23,Brazil,2,3,8512,119,6,0,0,0,4,...,0,0,22,0,0,0,0,1,green,green
24,British-Virgin-Isles,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,1,white,blue
25,Brunei,5,1,6,0,10,2,0,0,4,...,0,0,0,0,1,1,1,1,white,gold
26,Bulgaria,3,1,111,9,5,6,0,3,5,...,0,0,1,0,0,1,1,0,white,red
27,Burkina,4,4,274,7,3,5,0,2,3,...,0,0,1,0,0,0,0,0,red,green
28,Burma,5,1,678,35,10,3,0,0,3,...,0,1,14,0,0,1,1,0,blue,red
29,Burundi,4,2,28,4,10,5,0,0,3,...,1,0,3,0,0,0,0,0,white,white
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,Swaziland,4,2,17,1,10,1,0,5,7,...,0,0,0,0,0,1,0,0,blue,blue
165,Sweden,3,1,450,8,6,1,0,0,2,...,0,0,0,0,0,0,0,0,blue,blue
166,Switzerland,3,1,41,6,4,1,0,0,2,...,0,0,0,0,0,0,0,0,red,red
167,Syria,5,1,185,10,8,2,0,3,4,...,0,0,2,0,0,0,0,0,red,black
168,Taiwan,5,1,36,18,7,3,0,0,3,...,0,1,1,0,0,0,0,0,blue,red
169,Tanzania,4,2,945,18,10,5,0,0,4,...,0,0,0,0,1,0,0,0,green,blue
170,Thailand,5,1,514,49,10,3,0,5,3,...,0,0,0,0,0,0,0,0,red,red
171,Togo,4,1,57,2,3,7,0,5,4,...,0,1,1,0,0,0,0,0,red,green
172,Tonga,6,2,1,0,10,1,0,0,2,...,0,1,0,0,0,0,0,0,white,red
173,Trinidad-Tobago,2,4,5,1,1,1,0,0,3,...,0,0,0,0,1,0,0,0,white,white
174,Tunisia,4,1,164,7,8,2,0,0,2,...,0,0,1,1,0,0,0,0,red,red
175,Turkey,5,1,781,45,9,2,0,0,2,...,0,0,1,1,0,0,0,0,red,red
176,Turks-Cocos-Islands,1,4,0,0,1,1,0,0,6,...,1,1,0,0,0,1,1,0,white,blue
177,Tuvalu,6,2,0,0,1,1,0,0,5,...,1,1,9,0,0,0,0,0,white,blue
178,UAE,5,1,84,1,8,2,1,3,4,...,0,0,0,0,0,0,0,0,red,black
179,Uganda,4,1,236,13,10,5,0,6,5,...,0,0,0,0,0,0,1,0,black,red
180,UK,3,4,245,56,1,1,0,0,3,...,1,0,0,0,0,0,0,0,white,red
181,Uruguay,2,3,178,3,2,0,0,9,3,...,0,1,1,0,0,0,0,0,white,white
182,US-Virgin-Isles,1,4,0,0,1,1,0,0,6,...,0,0,0,0,0,1,1,1,white,white
183,USA,1,4,9363,231,1,1,0,13,3,...,0,1,50,0,0,0,0,0,blue,red
184,USSR,5,1,22402,274,5,6,0,0,2,...,0,0,1,0,0,1,0,0,red,red
185,Vanuatu,6,2,15,0,6,1,0,0,4,...,0,0,0,0,1,0,1,0,black,green
186,Vatican-City,3,1,0,0,6,0,2,0,4,...,0,0,0,0,0,1,0,0,gold,white
187,Venezuela,2,4,912,15,2,0,0,3,7,...,0,0,7,0,0,1,1,0,gold,red
188,Vietnam,5,1,333,60,10,6,0,0,2,...,0,0,1,0,0,0,0,0,red,red
189,Western-Samoa,6,3,3,0,1,1,0,0,3,...,0,1,5,0,0,0,0,0,blue,red
190,Yugoslavia,3,1,256,22,6,6,0,3,4,...,0,0,1,0,0,0,0,0,blue,red
191,Zaire,4,2,905,28,10,5,0,0,4,...,0,0,0,0,0,1,1,0,green,green
192,Zambia,4,2,753,6,10,5,3,0,4,...,0,0,0,0,0,0,1,0,green,brown
193,Zimbabwe,4,2,391,8,10,5,0,7,5,...,0,0,1,0,1,1,1,0,green,green

In [95]:
#Import tumor data
col_names = np.array([
    'class', 'age', 'sex', 'histologic-type', 'degree-of-diffe', 'bone', 'bone-marrow', 'lung', 'pleura',
    'peritoneum', 'liver', 'brain', 'skin', 'neck', 'supraclavicular', 'axillar', 'mediastinum', 'abdominal'
])
col_names = np.array([lab.capitalize() for lab in col_names])
feature_names = col_names[col_names!='Class']
class_names = np.array([
    'lung', 'head & neck', 'esophasus', 'thyroid', 'stomach', 'duoden & sm.int',
    'colon', 'rectum', 'anus', 'salivary glands', 'pancreas', 'gallblader',
    'liver', 'kidney', 'bladder', 'testis', 'prostate', 'ovary', 'corpus uteri', 
    'cervix uteri', 'vagina', 'breast'
])
#class_tags = np.arange(len(class_names))
tumor_data = pd.read_csv(proj_path+'/0_data/primary-tumor.data.csv', header=None, names=col_names)
tumor_data = tumor_data.loc[:,[not(col in ['Histologic-type', 'Degree-of-diffe']) for col in col_names]]
tumor_data.apply(lambda r: any(r=='?'),axis=1)
tumor_data = tumor_data.loc[~(tumor_data.apply(lambda r: any(r=='?'),axis=1)),:]
low_data_classes = np.array([6, 9, 10, 15, 16, 20, 21])
print('remove classes', class_names[low_data_classes-1])
tumor_data = tumor_data.loc[~tumor_data.Class.isin(low_data_classes),:]

class_names = np.array([col for col in class_names if not(col in class_names[low_data_classes-1])])
class_tags = np.unique(tumor_data.Class)
print(class_names, feature_names, np.unique(tumor_data.Class, return_counts=True))

tumor_data

remove classes ['duoden & sm.int' 'anus' 'salivary glands' 'bladder' 'testis'
 'cervix uteri' 'vagina']
['lung' 'head & neck' 'esophasus' 'thyroid' 'stomach' 'colon' 'rectum'
 'pancreas' 'gallblader' 'liver' 'kidney' 'prostate' 'ovary'
 'corpus uteri' 'breast'] ['Age' 'Sex' 'Histologic-type' 'Degree-of-diffe' 'Bone' 'Bone-marrow'
 'Lung' 'Pleura' 'Peritoneum' 'Liver' 'Brain' 'Skin' 'Neck'
 'Supraclavicular' 'Axillar' 'Mediastinum' 'Abdominal'] (array([ 1,  2,  3,  4,  5,  7,  8, 11, 12, 13, 14, 17, 18, 19, 22]), array([82, 20,  9, 13, 39, 14,  6, 28, 16,  7, 24, 10, 29,  6, 24]))

,Class,Age,Sex,Bone,Bone-marrow,Lung,Pleura,Peritoneum,Liver,Brain,Skin,Neck,Supraclavicular,Axillar,Mediastinum,Abdominal
0,1,1,1,2,2,1,2,2,2,2,2,2,2,2,2,2
1,1,1,1,2,2,2,2,2,1,2,2,2,1,2,1,2
2,1,1,2,1,2,2,2,2,2,2,2,2,2,2,1,2
3,1,1,2,1,2,1,1,2,2,2,2,2,2,2,1,2
4,1,1,2,1,2,1,1,2,2,2,2,2,2,2,1,2
5,1,1,2,1,2,2,2,2,2,1,2,2,1,1,1,2
6,1,2,1,1,2,2,2,2,2,2,1,1,1,2,2,2
7,1,2,1,1,2,2,2,2,2,2,2,2,2,2,2,2
8,1,2,1,2,2,2,2,2,2,2,2,1,2,2,2,2
10,1,2,1,1,2,2,1,2,2,2,2,2,1,2,1,2
11,1,2,1,1,2,2,2,2,2,2,1,2,2,1,2,2
12,1,2,1,1,2,2,2,2,2,2,2,2,2,2,2,2
13,1,2,1,1,2,2,2,2,2,2,2,2,2,2,2,2
14,1,2,1,2,2,2,2,2,1,2,2,2,2,2,1,2
15,1,2,1,2,2,2,1,2,1,2,2,2,2,2,2,2
17,1,2,1,2,2,1,2,2,2,2,2,1,1,2,1,2
18,1,2,1,1,2,2,2,2,2,2,1,2,2,2,2,2
19,1,2,1,2,2,2,2,2,2,2,2,2,1,2,1,2
20,1,2,1,1,2,2,2,2,2,2,2,2,2,2,1,2
21,1,2,1,2,2,1,2,2,1,2,2,2,1,1,1,2
22,1,2,1,2,2,1,2,2,2,2,2,2,1,2,2,2
23,1,2,1,2,2,2,1,1,2,2,2,2,2,2,1,1
24,1,2,1,2,2,2,1,2,2,2,2,2,2,2,2,2
25,1,2,1,2,2,2,2,2,2,2,2,2,2,1,2,2
26,1,2,1,1,1,2,2,2,2,2,2,2,2,2,1,2
27,1,2,1,2,2,1,2,1,2,2,2,2,2,2,2,1
28,1,2,1,2,2,2,1,2,1,2,2,1,2,2,1,1
29,1,2,1,2,2,2,2,2,2,1,2,2,2,2,2,2
30,1,2,1,1,1,1,1,1,1,2,2,2,2,2,1,1
31,1,2,1,1,1,2,2,2,2,1,2,2,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,19,2,2,1,2,2,2,2,2,2,2,2,2,2,2,2
307,19,2,2,2,2,2,2,2,2,2,2,2,2,2,2,1
308,19,2,2,2,2,1,2,2,1,2,2,2,2,2,2,1
309,19,2,2,2,2,2,2,1,1,2,2,2,2,2,1,1
310,19,3,2,1,2,2,2,2,2,2,2,2,2,2,2,1
311,19,3,2,2,2,1,1,1,2,2,2,2,2,2,2,1
315,22,1,1,2,2,1,2,2,2,2,2,1,1,1,2,2
316,22,1,2,1,2,2,2,2,2,2,2,2,2,1,2,2
317,22,2,2,1,2,2,1,2,2,2,2,2,1,1,1,1
318,22,2,2,2,2,2,2,1,2,2,1,1,1,1,2,2
319,22,2,2,2,2,2,2,1,1,2,2,2,2,1,1,1
320,22,2,2,1,1,2,2,1,1,2,2,2,2,1,2,2
321,22,2,2,1,2,2,1,2,1,2,2,1,1,1,1,1
322,22,2,2,1,2,2,1,2,2,2,1,1,1,1,1,2
323,22,2,2,1,2,2,1,2,2,2,2,2,2,2,2,2
324,22,2,2,1,2,2,2,2,2,2,2,2,1,1,2,2
325,22,2,2,1,2,2,2,2,2,2,2,2,2,1,2,2
326,22,2,2,1,2,2,2,2,2,2,2,2,2,2,2,2
327,22,2,2,2,2,1,1,1,2,2,2,2,1,2,2,2
328,22,2,2,2,2,2,1,2,2,2,1,2,2,1,2,2
329,22,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2
330,22,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2
331,22,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2
332,22,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2
333,22,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2
334,22,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2
335,22,2,2,2,2,2,2,2,2,2,2,2,2,1,2,2
336,22,2,2,1,2,2,2,2,2,2,2,2,1,1,2,2
337,22,3,2,2,2,2,2,2,2,2,2,1,1,1,2,2
338,22,3,2,2,2,2,2,2,2,2,2,2,1,1,2,2

In [ ]:
X = np.array(data.loc[:,col_names[:-1]])
y = np.array(data.loc[:,col_names[-1]])
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=45)

# train the classifier
rf_clf = RandomForestClassifier(random_state=45, n_estimators=100)
rf_clf.fit(X_train, y_train)

# make predictions and calculate the MAE error
predictions = rf_clf.predict(X_test)
errors = abs(predictions - y_test)
print('Mean Absolute Error: {}'.format(round(np.mean(errors), 2))) 

# calculate the accuracy of the classifier
acc = 100 * accuracy_score(y_test, predictions)
print('Model Accuracy: {}'.format(round(acc, 2)))

print(np.unique(y, return_counts=True))
print(np.unique(y_train, return_counts=True))
print(np.unique(y_test, return_counts=True))

In [ ]:
###Class count plot
fig, ax = plt.subplots(figsize=(3.24*1.5, 2*1.5))
sns.countplot(y, color=sns.color_palette()[0], ax=ax, orient='h')
ax.set_ylabel('Count')
ax.set_xlabel('Class')
ax.set_xticklabels(np.unique(y), rotation=45, ha='right', rotation_mode='anchor')
sns.despine(fig=fig)
#fig.savefig(fig_path+'/class_counts.pdf', bbox_inches='tight')

In [ ]:
global_importance = rf_clf.feature_importances_
global_index = np.argsort(global_importance)

imp_mat = importanceMatrix.calcImportanceMatrix(rf_clf)
mean_importance = np.mean(imp_mat, axis=0)
pca_index = np.argsort(mean_importance)

unique_classes, count_classes = np.unique(y, return_counts=True)
rare_class_ind = np.argsort(count_classes)[0]
rare_class = unique_classes[rare_class_ind]
rare_class_index = np.argsort(imp_mat[rare_class_ind])

top5_global_features = feature_names[global_index[-5:]]
top5_pca_features = feature_names[pca_index[-5:]]
top5_rare_features = feature_names[rare_class_index[-5:]]
print(top5_global_features)
print(top5_pca_features)
print(top5_rare_features)

In [ ]:
def plot_confusion_matrix(y_true, y_pred, classes,
                          title='Normalized confusion matrix',
                          cmap=plt.cm.plasma):
    # Compute confusion matrix
    cm = confusion_matrix(y_true, y_pred)
    cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis] * 100
    #print(cm)
    fig, ax = plt.subplots()
    im = ax.imshow(cm, interpolation='nearest', cmap=cmap)
    ax.figure.colorbar(im, ax=ax, label='Percentage')
    # We want to show all ticks...
    ax.set(xticks=np.arange(cm.shape[1]),
           yticks=np.arange(cm.shape[0]),
           # ... and label them with the respective list entries
           xticklabels=classes, yticklabels=classes,
           title=title,
           ylabel='True label',
           xlabel='Predicted label')

    # Rotate the tick labels and set their alignment.
    plt.setp(ax.get_xticklabels(), rotation=45, ha="right",
             rotation_mode="anchor")

    # Loop over data dimensions and create text annotations.
    fmt = '.0f'
    thresh = cm.max() / 2.
    for i in range(cm.shape[0]):
        for j in range(cm.shape[1]):
            ax.text(j, i, format(round(cm[i, j],0), fmt),
                    ha="center", va="center",
                    color="black" if cm[i, j] > thresh else "white")
    plt.tight_layout()
    return fig, ax

In [ ]:
feat_ind = np.array([feat in top5_global_features for feat in feature_names])
X_train, X_test, y_train, y_test = train_test_split(X[:,feat_ind], y, random_state=45)
# train the classifier
rf_clf = RandomForestClassifier(random_state=45, n_estimators=100)
rf_clf.fit(X_train, y_train)
# make predictions and calculate the MAE error
predictions = rf_clf.predict(X_test)
errors = abs(predictions - y_test)
print('Mean Absolute Error: {}'.format(round(np.mean(errors), 2))) 
# calculate the accuracy of the classifier
acc = 100 * accuracy_score(y_test, predictions)
print('Model Accuracy: {}'.format(round(acc, 2)))

fig, ax = plot_confusion_matrix(y_test, predictions, class_names,
                      title='Default method')
fig.savefig(fig_path+'/confusion_matrix_default_method.pdf', bbox_inches='tight')
plt.show()

In [ ]:
feat_ind = np.array([feat in top5_pca_features for feat in feature_names])
X_train, X_test, y_train, y_test = train_test_split(X[:,feat_ind], y, random_state=45)
# train the classifier
rf_clf = RandomForestClassifier(random_state=45, n_estimators=100)
rf_clf.fit(X_train, y_train)
# make predictions and calculate the MAE error
predictions = rf_clf.predict(X_test)
errors = abs(predictions - y_test)
print('Mean Absolute Error: {}'.format(round(np.mean(errors), 2))) 
# calculate the accuracy of the classifier
acc = 100 * accuracy_score(y_test, predictions)
print('Model Accuracy: {}'.format(round(acc, 2)))

fig, ax = plot_confusion_matrix(y_test, predictions, class_names,
                      title='Per-class average method')
fig.savefig(fig_path+'/confusion_matrix_perclass_average.pdf', bbox_inches='tight')
plt.show()

In [ ]:
feat_ind = np.array([feat in top5_rare_features for feat in feature_names])
X_train, X_test, y_train, y_test = train_test_split(X[:,feat_ind], y, random_state=45)
# train the classifier
rf_clf = RandomForestClassifier(random_state=45, n_estimators=100)
rf_clf.fit(X_train, y_train)
# make predictions and calculate the MAE error
predictions = rf_clf.predict(X_test)
errors = abs(predictions - y_test)
print('Mean Absolute Error: {}'.format(round(np.mean(errors), 2))) 
# calculate the accuracy of the classifier
acc = 100 * accuracy_score(y_test, predictions)
print('Model Accuracy: {}'.format(round(acc, 2)))

fig, ax = plot_confusion_matrix(y_test, predictions, class_names,
                      title='Rare class method')
fig.savefig(fig_path+'/confusion_matrix_rare_class.pdf', bbox_inches='tight')
plt.show()